.about {
    display: flex;
    flex-direction: column;
    padding: 80px 130px;
}

.about h2 {
    font-size: 32px;
    font-family: Inter;
    margin: 0;
    margin-bottom: 15px;
}

.about h3 {
    font-size: 24px;
    font-family: Inter;
    margin: 0;
    font-weight: normal;
}

.about_grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.about_card {
    display: flex;
    flex-direction: column;

}

.about_card img{
    background-color: var(--color-pink-dark);
    border-radius: 50%;
    height: 56px;
    width: 56px;
}

.about_card h4 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
}

.about_card h5 {
    font-family: Inter;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    padding-bottom: 8px;
}

.about_button {
    width: 146px;
    height: 48px;
    margin-top: auto;
    font-size: 18px;
}